@import "theme.css";
@import "typsitter.css";

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

:root {
  color-scheme: dark;

  --dusk-black: color-mix(in srgb, var(--dusk), var(--black));
  --dawn-white: color-mix(in srgb, var(--dawn), var(--white));

  --dawn-grey: color-mix(in srgb, var(--dawn), var(--black) 25%);
  --dusk-grey: color-mix(in srgb, var(--dusk), var(--white) 25%);

  --fg: light-dark(var(--dusk), var(--dawn));
  --fg-grey: light-dark(var(--dusk-grey), var(--dawn-grey));
  --bg: light-dark(var(--white), var(--black));
  --bg-grey: light-dark(var(--dawn-white), var(--dusk-black));

  --fg-error: #da7975;
  --bg-error: #563336;

  --fg-warning: #e9ba00;
  --bg-warning: #5c4b1d;
}

::selection {
  background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

@media(prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

body {
  height: 100vh;

  color: var(--white);
  background-color: var(--bg);

  margin: 0;
  padding: 0 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-grow: 1;
  min-height: 0;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
  gap: 1rem;
}

main > * {
  border-radius: .25rem;
  background-color: var(--dusk-black);
  overflow: scroll;
}

@media (min-width: 900px) {
  main {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }
}

#editor .cm-editor {
  height: 100%;
}

#editor .cm-content {
  caret-color: var(--fg);
}

#editor .cm-editor .cm-focused .cm-selectionBackground, ::selection {
  background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

#editor .cm-lineNumbers .cm-gutterElement {
  padding: 0 5px 0 5px;
}

#editor .cm-tooltip {
  border: 1px solid var(--dusk-grey);
  border-radius: .25rem;
  background-color: var(--dusk);
  overflow: hidden;
}

#editor .cm-toolthip-lint:not(:first-child) {
  border-top: 1px solid var(--diagnostic-border);
}

#editor .cm-diagnostic-error {
  --diagnostic-border: var(--fg-error);
  border-left: unset;
  background: var(--bg-error);
  color: var(--fg-error);
}

#editor .cm-diagnostic-warning {
  --diagnostic-border: var(--fg-warning);
  border-left: unset;
  background: var(--bg-warning);
  color: var(--fg-warning);
}

#editor .cm-gutters {
  background-color: var(--dusk);
  color: var(--white);
  border: none;
}

#console {
  padding: 0 1rem 0 1rem;
}

#console h3 {
  border-bottom: 1px solid var(--fg-grey);
}

#diagnostics > p {
  margin: 0;
}

#statistics {
  font-size: 16px;
}

#output {
  font-size: 16px;
}

#editor .cm-lintRange-error, .cm-lintRange-warning {
  background-image: none;
  text-decoration: underline;
}

#editor .cm-lintRange-error,  #editor .cm-lintRange-error > * {
  background-color: var(--bg-error);
  color: var(--fg-error) !important;
  text-decoration-color: var(--fg-error);
}

#diagnostics .red {
  --diagnostic-bg: var(--bg-error);
  color: var(--fg-error);
}

#editor .cm-lintRange-warning {
  background-color: var(--bg-warning);
  background-image: none;
  text-decoration: underline;
  color: var(--fg-warning) !important;
}

#diagnostics .yellow {
  --diagnostic-bg: var(--bg-warning);
  color: #e9ba00;
}

#diagnostics .grey {
  color: var(--fg-grey);
}

#diagnostics .underline {
  background-color: var(--diagnostic-bg);
  text-decoration: underline;
}

#diagnostics .bold {
  font-weight: bold;
}
