@import "theme.css";
@import "typsitter.css";

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;

  --dusk-black: color-mix(in srgb, var(--dusk), var(--black));
  --dawn-white: color-mix(in srgb, var(--dawn), var(--white));

  --dawn-grey: color-mix(in srgb, var(--dawn), var(--black) 25%);
  --dusk-grey: color-mix(in srgb, var(--dusk), var(--white) 25%);

  --fg: light-dark(var(--dusk), var(--dawn));
  --fg-grey: light-dark(var(--dusk-grey), var(--dawn-grey));
  --grey: light-dark(var(--dawn-grey), var(--dusk-grey));
  --bg: light-dark(var(--white), var(--black));
  --bg-grey: light-dark(var(--dawn-white), var(--dusk-black));

  --fg-error: #da7975;
  --bg-error: color-mix(in srgb, var(--bg), var(--fg-error) 25%);

  --fg-warning: #e9ba00;
  --bg-warning: color-mix(in srgb, var(--bg), var(--fg-warning) 25%);

  --sans: "Atkinson Hyperlegible", sans-serif;
  --mono: "Atkinson Hyperlegible Mono", monospace;
}

::selection {
  background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

@media(prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }

  img.logo {
    filter: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9IngiPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VHcmFwaGljIiB0eXBlPSJtYXRyaXgiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiIgdmFsdWVzPSIwIDAgMCAwIC4wODcgMCAwIDAgMCAuNTg5IDAgMCAwIDAgLjI3NSAwIDAgMCAxIDAiIC8+PC9maWx0ZXI+PC9zdmc+#x");
  }
}

body {
  height: 100vh;

  color: var(--fg);
  background-color: var(--bg);

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  font-family: var(--sans);
}

pre, code {
  font-family: var(--mono);
}

header {
  display: flex;
  align-items: center;
  user-select: none;

  background-color: var(--bg-grey);

  img {
    height: 0;
    min-height: 100%;
    margin: 0 .46rem;
  }

  h1 {
    margin: 1rem 0rem;
    font-weight: normal;
  }
}

main {
  flex-grow: 1;
  min-height: 0;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
  gap: .5rem;
  background-color: var(--bg-grey);
}

@media (min-aspect-ratio: 1) {
  main {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }
}

#console, #editor .cm-scroller {
  overflow: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--grey) transparent;
}

#editor {
  background-color: var(--bg);
  overflow: hidden;

  .cm-editor {
    height: 100%;
  }

  .cm-scroller, .cm-content {
    font-family: var(--mono);
  }

  .cm-cursor-primary, .cm-cursor-secondary {
    border-left: 1px solid var(--fg);
  }

  .cm-selectionBackground {
    background-color: color-mix(in srgb, var(--fg) 20%, transparent);
  }

  .cm-content {
    padding: .25rem 0;
  }

  .cm-gutters {
    background: none;
    border: none;
  }

  .cm-lineNumbers {
    color: var(--grey);
    min-width: 3.25rem;
    user-select: none;

    .cm-gutterElement {
      padding: 0 1rem;
    }
  }

  .cm-tooltip {
    border: 1px solid var(--grey);
    border-radius: .25rem;
    background-color: var(--bg-grey);
    overflow: hidden;

    & > :not(:first-child) {
      border-top: 1px solid var(--grey);
    }
  }

  .cm-diagnostic {
    border-left: unset;
    font-family: var(--mono);

    &.cm-diagnostic-error {
      color: var(--fg-error);
    }

    &.cm-diagnostic-warning {
      color: var(--fg-warning);
    }
  }

  .cm-lintRange {
    background-image: none;
    padding-bottom: 0;
    text-decoration: underline;
    text-decoration-thickness: .1em;
    text-underline-offset: .25em;

    &.cm-lintRange-error {
      background-color: var(--bg-error);
      text-decoration-color: var(--fg-error);
    }

    &.cm-lintRange-warning {
      background-color: var(--bg-warning);
      text-decoration-color: var(--fg-warning);
    }
  }

  .cm-lintPoint {
    &::after {
      content: none;
    }

    &::before {
      content: "";
      border: none;
      position: absolute;
      bottom: 0;
      left: -.125em;
      width: .3em;
      border-bottom: .1em solid;
    }

    &.cm-lintPoint-error::before {
      border-bottom-color: var(--fg-error);
    }

    &.cm-lintPoint-warning::before {
      border-bottom-color: var(--fg-warning);
    }
  }

  .cm-scroller {
    line-height: unset;
  }
}


#console {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  font-family: var(--mono);

  .container {
    h3 {
      position: sticky;
      top: 0;
      padding: 0.5rem 1rem;
      background-color: var(--bg);
      border-bottom: 1px solid var(--grey);
      cursor: pointer;
      user-select: none;
    }

    pre {
      overflow: auto;
      flex: 0 0 content;
      scrollbar-width: thin;
      padding: 1rem;
    }

    > * {
      margin: 0;
    }

    &.empty {
      display: none;
    }

    &.hide {
      & > :not(h3) {
        display: none;
      }

      & h3 {
        color: var(--fg-grey);
      }
    }
  }

  #diagnostics {
    .red {
      background-color: var(--bg-error);
      color: var(--fg-error);
      text-decoration-color: var(--fg-error);
    }

    .yellow {
      background-color: var(--bg-warning);
      color: var(--fg-warning);
      text-decoration-color: var(--fg-warning);
    }

    .grey {
      color: var(--fg-grey);
    }

    .underline {
      text-decoration-line: underline;
      text-decoration-thickness: .1em;
      text-underline-offset: .25em;
      color: var(--fg);
    }

    :not(.underline) {
      background: none;
    }

    .bold {
      font-weight: bold;
    }
  }
}

button {
  font-family: var(--mono);
}

